<div @fade>
    <fieldset>
        <legend><h3 style="color: rgb(60, 235, 16); font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Contact</h3></legend>
        <p style="font-family: monospace;">
            
                Sayed Uz Zaman<br>
                address: Uttara, Dhaka<br>
                contact: +8801799-026515<br>
                email: sayeduzzamancuet@gmail.com
                
        </p>
        
    </fieldset>
    <fieldset>
        <legend><h3 style="color: rgb(60, 235, 16); font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Objective</h3></legend>
        <p style="font-family: monospace;">
            Self motivated developer with ability to follow established procedure and work under little or no supervision. Possess strong capability to develop application using .NET and Java technologies.
        </p>
        
    </fieldset>
    
    <fieldset>
        <legend><h3 style="color: rgb(60, 235, 16); font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Present job Responsibilities</h3></legend>
        <p style="font-family: monospace;">
            At present I am working as a software engineer in Oscillosoft Pty Ltd. since May 2018. Below I have mentioned few of my current job roles and responsibilities:-<br>

        1. Communicate with offshore clients, provide project updates, translate their business requirements into technical solution and planning for implementation.<br>
        2. Writing scalable, reusable code by following OOP concepts, coding standards, framework architectures and best practices. <br>
        3. Perform development, testing, and live deployment by maintaining SDLC<br>
        4. Investigate bugs, perform system analysis and provide appropriate fixings<br>
        5. Monitor live applications using various tools such as Elastic APM, Kibana<br>
        6. Maintain version control for multiple projects using git/svn<br>
        7. Collaboration with offshore team remotely <br>
        8. Provide effective support as a lead developer for multiple projects<br>
        9. Performance monitoring and optimization when necessary<br>
        </p>
    </fieldset>
    <fieldset>
        <legend><h3 style="color: rgb(60, 235, 16); font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Employment History</h3></legend>
        
        <p style="width: 100%;font-family: monospace;border: 1px;">
            Software Engineer<br>
            Company: Oscillosoft Pty. Ltd<br>
            Dhaka branch<br>
            Date of join: May,2018<br>
        </p>
    </fieldset>
    <fieldset>
        <legend><h3 style="color: rgb(60, 235, 16); font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Skills</h3></legend>
        <dl style="font-family: monospace;">
            <dt style="font-weight: bold;font-size: larger;">Front-end</dt>
                <dd>- HTML,Javascript, Jquery, AngularJs 1,Angular 9,  thymeleaf,.NET Windows form</dd>
            <dt style="font-weight: bold;font-size: larger;">Back-end</dt>
                <dd>- ASP.NET, ASP.NET MVC, ASP.NET WEB API, Spring Boot REST API</dd>
            <dt style="font-weight: bold;font-size: larger;">ORM</dt>
                <dd>- EntityFramework 6, NHibernate</dd>    
            <dt style="font-weight: bold;font-size: larger;">Database</dt>
                <dd>- MySQL 5.7, MSSQL 14,16, Redis</dd>
            <dt style="font-weight: bold;font-size: larger;">Application servers</dt>
                <dd>- Tomcat, IIS</dd>
            <dt style="font-weight: bold;font-size: larger;">Version controlling</dt>
                <dd>- Git, SVN</dd>
            <dt style="font-weight: bold;font-size: larger;">Project management</dt>
                <dd>- Agile project management with Jira</dd>
            <dt style="font-weight: bold;font-size: larger;">Others</dt>
                <dd>- Docker container</dd>
        </dl>
    </fieldset>
    <fieldset>
        <legend><h3 style="color: rgb(60, 235, 16); font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Projects</h3></legend>
        Angular url: <a href="https://sayeduzzaman.azurewebsites.net/">visit</a><br>
        Java<br>
        C#<br>
        <br>
    </fieldset>
    <fieldset>
        <legend><h3 style="color: rgb(60, 235, 16); font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Academic qualification</h3></legend>
        
        <table border="1" style="width: 100%;font-family: monospace;">
            <thead>
                <tr>
                    <td>Exam Title</td>
                    <td>Concentration</td>
                    <td>Institute</td>
                    <td>Year</td>
                    <td>Score</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>BSc in Computer Science & Engineering</td>
                    <td>CSE</td>
                    <td>CUET</td>
                    <td>2017</td>
                    <td>2.8 out of 4.0</td>
                </tr>
                <tr>
                    <td>HSC</td>
                    <td>Science</td>
                    <td>Govt. Ananda mohan college,Mymensingh</td>
                    <td>2012</td>
                    <td>GPA-5(Golden)</td>
                </tr>
                <tr>
                    <td>SSC</td>
                    <td>Science</td>
                    <td>2010</td>
                    <td>K.B Highschool, Mymensingh</td>
                    <td>GPA-5</td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    

    <!-- <app-data-table> </app-data-table> -->

</div>