<mat-toolbar color="primary">
  <div >Welcome</div>
  <div class="fill-remaining-space">
    <!-- <button mat-button>Home</button> -->
    <!-- <button mat-button>Cheat Sheets</button> -->
    <!-- <button mat-button>About</button> -->
    <a mat-button href="tel:+8801799-026515"><i><img mat-list-item src="~/../../assets/call.svg"></i></a>
    <a mat-button href="mailto:sayeduzzamancuet@gmail.com"><i><img mat-list-item src="~/../../assets/email.svg"></i></a>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" (opened)="setToggleBtnText('Close')" (closed)="setToggleBtnText('Open')" [(opened)]="opened">SAYED UZ ZAMAN
    <mat-nav-list>
      <div mat-list-item class="profile-picture">
        <img src="https://www.w3schools.com/howto/img_avatar.png">
    </div>
    <a mat-list-item routerLink='/home' routerLinkActive="active"><i><img mat-list-item src="~/../../assets/home.svg"></i>Home</a>
    <a mat-list-item routerLink='/about' routerLinkActive="active" ><i><img mat-list-item src="~/../../assets/info.svg"></i>About me </a>
    <!-- <a mat-list-item routerLink='/portfolio' routerLinkActive="active" ><i><img mat-list-item src="~/../../assets/folder.svg"></i> Portfolio</a> -->
    <a mat-list-item routerLink='/contact' routerLinkActive="active" ><i><img mat-list-item src="~/../../assets/feedback.svg"></i> Contact</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-icon-button color="accent" (click)="sidenav.toggle()">{{toggleBtnText}}</button>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

