.navbar{
    justify-content: space-between;
}
span{
    padding-right: 3rem;
}
mat-sidenav-container{
    height: 90%;
}
mat-sidenav,mat-sidenav-content{
    padding: 16px
}
mat-sidenav{
    background-color:darkslateblue;
    width: 300px;
}
fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  .profile-picture img{
    width: 85%;
    height: 75%;
    text-align: center;
    position: relative;
}